$primary-colour: #d8d8d8;
$light-colour: #f0f0f0;
$dark-colour: #252525;
$delete-colour: #b90000;
$cart-items: rgb(228, 74, 104);
$view-colour: rgb(0, 128, 128);
$header-shadow: rgba(10, 21, 26, 0.12) 0px 3px 3px 0px,
  rgba(12, 25, 31, 0.32) 0px 2px 12px 0px;
$shadow: rgba(10, 21, 26, 0.12) 0px 4px 4px 0px,
  rgba(12, 25, 31, 0.32) 0px 4px 12px 0px;
$border: 1px solid #d8d8d8;
$border-dark: 1px solid #252525;
$radius: 5px;
$input-radius: 2.5px;
$edit-colour: rgb(0, 150, 62);
$delete-colour: rgb(255, 55, 55);
